{% extends 'base.html.twig' %}
{% block body %}
<div id="aboutus" class="project1">
    <div class="thenav">
        {% include "common/nav.html.twig" %}
    </div>
    <div class="content">
        <h2 class="text-center pt-4 mb-5">Qui somme-nous</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {{ about.about|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
